.progress-div {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.progress1 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 380px;
  /* font-size: 50px;
  color: white; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* .video-container {
  flex: 4;
} */
.main_video_container {
  width: 100%;
  background-image: linear-gradient(#ff921d, #ffffff);
}
.main_video_container.video_display {
  padding-top: 0;
  flex-direction: column;
  background-color: #fffaf5;
}

.single_video:last-child {
  flex: 3;
  margin-right: 25px;
  display: flex;
}
.single_video:last-child video {
  width: 100%;
  height: 500px;
}
.single_video:first-child {
  flex: 1;
}
.single_video:first-child video {
  width: 100%;
  height: 225px;
}
.main_video_container.video_display > div {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 25px;
}
.main_video_container.video_display > button {
  margin: 0 25px;
  width: max-content;
  margin-left: auto;
  position: relative;
  top: -325px;
}
.timer_div {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}
.ad_iframe {
  position: relative;
  bottom: 25;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  box-shadow: 0 0 7px 2px #ff94219e;
  border: 0;
  overflow-y: scroll;
  max-height: 220px;
}
.debate_heading {
  margin-top: 0;
  padding-left: 25px;
  padding-top: 10px;
}
.text_message.time-right {
  float: right;
  color: #aaa;
}
.send-message-form {
  position: relative;
  bottom: 25px;
  max-height: 220px;
  background: white;
  border-radius: 4px;
  padding: 10px;
  right: 10px;
  box-shadow: 0 0 5px #ff9626;
  width: 100%;
  overflow-y: scroll;
}
.send_button {
  margin-left: 10px;
}
.comment_list img {
  height: 35px;
  width: 35px !important;
  border: 1px solid #ff9422;
  padding: 2px;
  border-radius: 50%;
}
.darker {
  float: right;
}
.text_message {
  margin-left: 10px;
}
.text_message span {
  color: #a2a2a2;
  font-size: 12px;
}
.text_message p {
  margin-bottom: 0;
}
.comment_list {
  display: flex;
  background: antiquewhite;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.form_data {
  display: flex;
  align-items: center;
  margin-left: -10px;
}
.send_button img {
  width: 25px;
  height: auto;
  cursor: pointer;
}
